body {
        background-color: #ff3c00;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 1.6;
        overflow-x: hidden;
    }


#content_container {
    clear: both;
    padding: 20px 15px 0 15px;
    position: relative;
    text-align: center;
    z-index: 12;
}
#mainwrapper {
    display: none;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    -webkit-overflow-scrolling: touch;
}

element.style {
    display: block;
    height: 100%;
    min-height: 1146px;
}
#maincontainer {
    background: #ff3c00;
    display: none;
    margin: 0 auto;
    min-height: 50%;
    outline: 0px solid rgba(0, 0, 0, 0.1);
    padding: 40px 2px 0 2px;
    text-align: left;
    width: 905px;
    z-index: 998;
}
.project_content {
    clear: both;
    width: 670px;
}